body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.title {
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin: 50px;
    text-decoration: underline;
}

.border {
    border: solid 2px rgb(61, 60, 60);
    padding: 0px 50px 50px 50px;
    width: 80%;
    margin: 50px auto;
    background-color: cornsilk;
}

.container{
    display: flex;
    justify-content: space-around;
}

/*header*/
header h1 {
    text-align: center;
    color: white;
    padding-top: 10%;
    font-size: 45px;
    text-decoration: underline;
}

header h3 {
    text-align: right;
    color: white;
    padding-top: 8%;
    padding-right: 20px;
    padding-bottom: 10px;
}

header {
    height: 200px; 
    background-image: url(https://i.pinimg.com/originals/92/b7/3c/92b73cd6467ceee125a99da4cf2f41c9.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: 400px;
    opacity: 0.95;
}

/*section*/

#green {
    background-color: rgb(36, 189, 112);
}

#blue {
    background-color: rgb(72, 26, 158);
}

#blue p {
    color: white;
}

#purple{
    background-color: rgb(226, 133, 206)
}

.colour-box {
    padding: 20px 80px;
    border: black 1px solid;
    border-radius: 3%;
}

.colour-label{
    font-size: 20px;
}



/*section 2*/

#Merriweather{
    font-family: 'Merriweather', serif;
}

#Roboto-Mono{
    font-family: 'Roboto Mono', monospace;
}

#Roboto-Condensed{
    font-family: 'Roboto Condensed', sans-serif;
}

.font-bold{
    font-weight: bold;
}

.font-italic{
    font-style: italic;
}

.font-name{
    text-decoration: underline;
    font-size: 20px;
    text-align: center;
}

.font-box{
    border: grey solid 2px;
    padding: 30px;
    background-color: rgb(202, 244, 251)
}

/*section 3 */

#h1{
    font-weight: 700 (bold);
    font-family: Nunito Sans;
    font-size: 30px;
}

#h2{
    font-weight: 500;
    font-size: 22px;
    font-family: Poppins;
}

#p{
    font-weight: 400;
    font-size: 14px;
}

.styles-box{
    border: black solid 2px;
    background-color: rgb(226, 133, 206);
    padding: 20px;
}